.Top{
  background-color: #04AA6D;
  color:white;
  border-radius: 5%;
}


.Left_Page ul li{
  border: 1px solid gray;
  border-radius: 5%;
  background-color: #F1F1F1;
  
}
.Left_Page ul li :hover{
  background-color: white;
  cursor: pointer;
}

.Right_Page{
  background-color: #32A4E7;
  color:white;
  border-radius: 5%;
}
.Fooer{
  border: 1px solid gray;
  border-radius: 5%;
  background-color: #F1F1F1;
}